/*  z-index:1  for arrow or .prev .next */
/*  z-index:0  for body or other items */
/*  z-index:8  for header .menu-wrap .menu  */
/*  z-index:9  for .hamburger,  */
/*  z-index:10  for .toggler,header   */

/* hints use the, not used*/

/* use calc() in css for width and height */
/* to make text(...)  for oveflow of text*/
/* text-overflow: ellipsis; */
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

:root{
    /* --primary-color:rgba(13,110,139,0.55); */
    --primary-color:#3A86FF;
    --secondary-color:#ffffff;
    --tertiary-color:black;
    --forth-color:#FFEE0B;
    --fifth-color:#fb5607;
    --sixth-color:#dee2e6;
    --overlay-color:rgba(24,39,51,0.4);
    --font-color:#011627;
    --menu-speed:0.75s;
}
*{
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*remove blue color on double click*/
    /* user-select: none;   will not allow to select text to copy use carefully */
    font-family:var(--font-display);
}
/*////////////             scrollbar color                //////////////////*/
::-webkit-scrollbar {
    /* width: 900px; */
    /* height: 10%; */
    /* width: 50%; */
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--primary-color);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--forth-color);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

header{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    left:0;
    z-index: 10;
    margin: auto;
    font-size: 1.8rem;
    /* margin-top:.5rem; */
    width: 100%;
    /* border-radius: 20px; */
    background-color: var(--primary-color);
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
}

/*hamburger menu*/
header .menu-wrap{
    position: relative;
    margin: 0px 1%;
    /* margin-top: 5px; */
    /* margin-left: 15px; */
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    top: 0;
    left: 0;
}
header .menu-wrap > .toggler{
    position: relative;
    top: 0;
    left: 0;
    width:3.5rem;
    height:3rem;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

header .menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    width:3.5rem;
    height:3rem;
    padding: .5rem;
    border-radius: 10px;
    /* border: 2px solid var(--tertiary-color); */
    background-color:var(--forth-color);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height:.15rem;
    /* border-top: 2px solid var(--primary-color); */
    background-color:var(--primary-color);
    transition: all .4s ease;
}
header .menu-wrap .hamburger > div::before,
header .menu-wrap .hamburger > div::after{
    content: '';
    position: absolute;
    top: -.5rem;
    left: 0;
    width: 100%;
    height:.15rem;
    /* border-top: 2px solid var(--primary-color); */
    background-color:var(--primary-color);
}
header .menu-wrap .hamburger > div::after{
    top: .5rem;
}
header .menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
header .menu-wrap .toggler:checked + .hamburger > div::before,
header .menu-wrap .toggler:checked + .hamburger > div::after
{
    top: 0;
    transform: rotate(90deg);
}
header .menu-wrap .toggler:checked ~ .menu{
    /* transform: scale(1); */
    opacity: 1;
    width: 100%;
    /* transition: width 2s ease-in-out; */
    /* display: flex; */
    /* display: flex; */
}
header .menu-wrap .toggler:checked ~ .menu ul{
    height: 100%;
}

header .menu-wrap .menu{
    z-index:8;
    position: fixed;
    background-color: var(--overlay-color);
    top:0;
    left: 0;
    height: 100%;
    width: 0%;
    text-align: center;
    display: none;
    opacity: 0;
    transition: all .4s ease-in-out;
    display: flex;
    /* animation: move-left .2s ease-in-out; */
}
/* @keyframes move-left{
    0%{width: 0%;height: 0%;}
    25%{width: 25%;height: 25%;}
    50%{width: 50%;height: 50%;}
    75%{width: 75%;height: 75%;}
    100%{width: 100%;height: 100%;}
} */

header .menu-wrap .menu ul{
    background-color: var(--primary-color);
    color: var(--forth-color);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 0 1rem;
    height: 0%;
    /* overflow: hidden; */
    overflow-y: scroll;
}
header .menu-wrap .menu ul li:nth-child(1){
    margin-top: 4rem;
}
header .menu-wrap .menu ul .user{
    background-color: var(--forth-color);
    border-radius: 10px;
}
header .menu-wrap .menu ul .user a{
    color: var(--primary-color);

}
header .menu-wrap .menu ul li a{
    color: var(--forth-color);
    text-decoration: none;
    padding: 0 2rem;
    margin:0;
}
header .menu-wrap .menu ul li ul.sub-category{
    color: var(--primary-color);
    display: none;
}
header .menu-wrap .menu ul li ul.sub-category li{
    background-color: var(--forth-color);
    margin:.3rem;
    padding: 0px;
    border-radius: 10px;
}
header .menu-wrap .menu ul li ul.sub-category li a{
    color: var(--primary-color);
    padding: 0 .8rem;
}

header h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    display: inline-block;
    flex-grow: 3;
    font-size: 3.6rem;
    color: var(--forth-color);
    z-index: 9;
}

header h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    display: inline-block;
    flex-grow: 3;
    font-size: 3.6rem;
    color: var(--forth-color);
    /* z-index: 9; */
}
header .product-search{
    background-color: var(--forth-color);
    color: var(--primary-color);
    margin-right: 1%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding:0 1%;
}
header .product-search > .search-btn{
    /* background-color: aqua; */
    background-color: var(--forth-color);
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    padding:0 2%;
}
header .product-search .search-btn .search-symbol{
    color:var(--primary-color);
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
    transform: rotate(-45deg);
    /* transition: all 2s ease-in-out; */
    z-index:0;
}
header .product-search .search-btn .search-symbol-hide{
    z-index:1;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
header .product-search .search-text{
    /* display: none; */
    /* background-color: var(--forth-color); */
    background-color: #fdffb6;
    font-size: 1.5rem;
    border: 2px solid var(--forth-color);
    border-radius: 10px;
    outline: none;
    padding:0 2%;
    color: var(--primary-color);
}

header .cart{
    cursor: pointer;
    margin:.2% 0;
    margin-right: .5%;
    padding: .3%;
    padding-left:.7rem;
    padding-right:.7rem;
    border-radius: 10px;
    border: 3px solid var(--forth-color);
    background-color: var(--forth-color);
    align-items: center;
    /* z-index: 9; */
    color: var(--primary-color);
    text-decoration: none;
}

header .cart .fas{
    color:var(--primary-color);
    width: 2rem;
    height: 2rem;
    /* flex-grow: 1;
    /* background-color: var(--primary-color); */
}

header .cart:hover{
    background-color:var(--primary-color);
    color:var(--forth-color);
}
/*///////////////////////////////////////////////header end////////////////////////////*/

/*///////////////////             footer start          /////////////////////////////////////*/
footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--forth-color);
    font-size: 1.2rem;
}
footer .foot-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
footer .foot-links a{
    color: var(--forth-color);
    text-decoration: none;
    padding: .5rem;
    margin: .7rem;
    border-radius: 10px;
    /* background-color: var(--fifth-color); */
}
footer .foot-links a:hover{
    background-color: var(--forth-color);
    color: var(--primary-color);
}
/*///////////////////             footer end          /////////////////////////////////////*/

/*///////////////////             productlist start          /////////////////////////////////////*/
.main .products-list {
    /* background-color: var(--primary-color); */
    color: var(--font-color);
    list-style: none;
}
.main{
    /* display: flex; */
    width: 100vw;
    /* height: 50vh; */
    /* justify-content: center; */
}
.main .no-products{
    width: 100vw;
    text-align: center;
    margin:40px auto;
    font-size: 1.5rem;
}

.main .products-list .product {
    border-bottom: 2px solid var(--primary-color);
    margin-top: 1%;
    display: flex;
    height: 33vh;
    margin: .5% 4%;
    padding: 1% 0%;
    padding-left: 4%;
}
.main .products-list .product .image{
    width: 17%;
    text-align: center;
}
.main .products-list .product .image img{
    max-width: 100%;
    height: 100%;
}

.main .products-list .product-view {
    padding: .5% 3%;
    padding-left: 13%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: var(--font-color);
    overflow: auto;
}

.main .products-list .product .product-view .product-name{
    font-size: 1.5rem;
}

.main .products-list .product .product-view .product-regularprice {
    color: var(--primary-color);
    font-size: 1.8rem;
}
/*///////////////////             productlist end          /////////////////////////////////////*/

/*///////////////////             page toggler start          /////////////////////////////////////*/
.pagination .step-links {
    /* width: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}
.pagination .step-links .prev a,
.pagination .step-links .next a,
.pagination .step-links .current,
.pagination .step-links .prev-page,
.pagination .step-links .next-page{
    display: inline-block;
    padding: 1px 19px;
    font-size: 40px;
    /* transform: translateY(-50%); */
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--forth-color);
    border-radius: 50%;
    margin:0 0.5%;
}
.pagination .step-links .prev a:hover,
.pagination .step-links .next a:hover{
    background-color: var(--forth-color);
    color: var(--primary-color);
}
.pagination .step-links .current{
    background-color: var(--forth-color);
    color: var(--primary-color);
}
/*///////////////////             page toggler end          /////////////////////////////////////*/

/*///////////////////             breadcrumb start          /////////////////////////////////////*/
.breadcrumb{
    background-color:#eee;
    font-size: 1.3rem;
    width: 95%;
    margin: 1% auto;
    padding: 1% 3%;
    border-radius: 10px;
}
.breadcrumb li a{
    text-decoration: none;
    color: var(--primary-color);
}
.breadcrumb li{
    display: inline;
    color: var(--font-color);
}
.breadcrumb li + li::before{
    content: "/\00a0";
}
/*///////////////////             braedcrumd end          /////////////////////////////////////*/


/*////////////////////////       media queries              /////////////////////////*/

@media only screen and (max-width: 1000px){
    header h1{
        font-size: 2rem;
    }
    header .product-search .search-btn .search-symbol{
        font-size: 1.8rem;
    }
    header .product-search .search-text{
        font-size: 1.3rem;
    }
    .main .products-list .product{
        height: 25vh;
    }
    .main .products-list .product .image{
        width: 100%;
        max-width: 7rem;
    }
    .main .products-list .product .product-view {
        font-size: .7rem;
    }

    .breadcrumb{
        font-size: 1rem;
    }
    .main .products-list .product .product-view .product-name {
        font-size: 1rem;
    }

    .main .products-list .product .product-view .product-regularprice {
        color: var(--primary-color);
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 500px){
    header .cart{
        font-size: 1rem;
        padding-left: .1rem;
        padding-right: .1rem;
    }
    header .menu-wrap .toggler,
    header .menu-wrap .hamburger{
        width: 2.5rem;
        height: 1.8rem;
    }
    header{
        font-size: 1.2rem;
    }
    header h1{
        font-size: 1.4rem;
    }
    header .product-search .search-btn .search-symbol{
        font-size: 1.2rem;
    }
    header .product-search .search-btn .search-symbol-hide{
        font-size: 1.3rem;
    }
    header .product-search .search-text{
        font-size: .9rem;
    }
    .breadcrumb{
        font-size: .7rem;
    }
    .main .products-list .product{
        height: 20vh;
    }
    .main .products-list .product .image{
        width: 80%;
        max-width: 6rem;
    }
    .main .products-list .product .product-view {
        font-size: .5rem;
    }

    .main .products-list .product .product-view .product-name {
        font-size: .68rem;
    }

    .main .products-list .product .product-view .product-regularprice {
        color: var(--primary-color);
        font-size: .7rem;
    }
    .pagination .step-links .prev a,
    .pagination .step-links .next a,
    .pagination .step-links .current,
    .pagination .step-links .prev-page,
    .pagination .step-links .next-page{
        padding: 3px 10px;
        font-size: 20px;
        /* transform: translateY(-50%); */
        background-color: var(--primary-color);
        text-decoration: none;
        color: var(--forth-color);
        border-radius: 50%;
    }
    .pagination .step-links .current{
        background-color: var(--forth-color);
        color: var(--primary-color);
    }
}


