/*  z-index:1  for arrow or .prev .next */
/*  z-index:0  for body or other items */
/*  z-index:8  for header .menu-wrap .menu  */
/*  z-index:9  for .hamburger,  */
/*  z-index:10  for .toggler,header   */

/* hints use the, not used*/

/* use calc() in css for width and height */
/* to make text(...)  for oveflow of text*/
/* text-overflow: ellipsis; */
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: dancing;
    src: url(./fonts/DancingScript-Bold.ttf);
}

:root{
    /* --primary-color:rgba(13,110,139,0.55); */
    --primary-color:#3A86FF;
    --secondary-color:#ffffff;
    --tertiary-color:black;
    --forth-color:#FFEE0B;
    --fifth-color:#fb5607;
    --sixth-color:#dee2e6;
    --overlay-color:rgba(24,39,51,0.4);
    --font-color:#011627;
    --menu-speed:0.75s;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*remove blue color on double click*/
    /* user-select: none;   will not allow to select text to copy use carefully */
    font-family:var(--font-display);
}
/*////////////             scrollbar color                //////////////////*/
::-webkit-scrollbar {
    /* width: 900px; */
    /* height: 10%; */
    /* width: 50%; */
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--primary-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--forth-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
  }


header{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    left:0;
    z-index: 10;
    margin: auto;
    font-size: 1.8rem;
    /* margin-top:.5rem; */
    width: 100%;
    /* border-radius: 20px; */
    background-color: var(--primary-color);
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*hamburger menu*/
header .menu-wrap{
    position: relative;
    margin: 0px 1%;
    /* margin-top: 5px; */
    /* margin-left: 15px; */
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    top: 0;
    left: 0;
}
header .menu-wrap .toggler{
    position: relative;
    top: 0;
    left: 0;
    width:3.5rem;
    height:3.2rem;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

header .menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    width:3.5rem;
    height:3.2rem;
    padding: 9px;
    border-radius: 10px;
    /* border: 2px solid var(--tertiary-color); */
    background-color:var(--forth-color);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height:2.6px;
    background-color:var(--primary-color);
    transition: all .4s ease;
}
header .menu-wrap .hamburger > div::before,
header .menu-wrap .hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height:2.6px;
    background-color:var(--primary-color);
}
header .menu-wrap .hamburger > div::after{
    top: 10px;
}
header .menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
header .menu-wrap .toggler:checked + .hamburger > div::before,
header .menu-wrap .toggler:checked + .hamburger > div::after
{
    top: 0;
    transform: rotate(90deg);
}
header .menu-wrap .toggler:checked ~ .menu{
    /* transform: scale(1); */
    opacity: 1;
    width: 100%;
    /* transition: width 2s ease-in-out; */
    /* display: flex; */
    /* display: flex; */
}
header .menu-wrap .toggler:checked ~ .menu ul{
    height: 100%;
}

header .menu-wrap .menu{
    z-index:8;
    position: fixed;
    background-color: var(--overlay-color);
    top:0;
    left: 0;
    height: 100%;
    width: 0%;
    text-align: center;
    display: none;
    opacity: 0;
    transition: all .4s ease-in-out;
    display: flex;
    /* animation: move-left .2s ease-in-out; */
}
/* @keyframes move-left{
    0%{width: 0%;height: 0%;}
    25%{width: 25%;height: 25%;}
    50%{width: 50%;height: 50%;}
    75%{width: 75%;height: 75%;}
    100%{width: 100%;height: 100%;}
} */

header .menu-wrap .menu ul{
    background-color: var(--primary-color);
    color: var(--forth-color);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 0 1rem;
    height: 0%;
    overflow: hidden;
}
header .menu-wrap .menu ul li:nth-child(1){
    margin-top: 4rem;
}
header .menu-wrap .menu ul .user{
    background-color: var(--forth-color);
    border-radius: 10px;
}
header .menu-wrap .menu ul .user a{
    color: var(--primary-color);
    
}
header .menu-wrap .menu ul li a{
    color: var(--forth-color);
    text-decoration: none;
    padding: 0 2rem;
    margin:0;
}
header .menu-wrap .menu ul li ul.sub-category{
    color: var(--primary-color);
    display: none;
}
header .menu-wrap .menu ul li ul.sub-category li{
    background-color: var(--forth-color);
    margin:.3rem;
    padding: 0px;
    border-radius: 10px;
}
header .menu-wrap .menu ul li ul.sub-category li a{
    color: var(--primary-color);
    padding: 0 .8rem;
}

header h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    display: inline-block;
    flex-grow: 3;
    font-size: 3.6rem;
    color: var(--forth-color);
    z-index: 9;
}

header div.cart{
    cursor: pointer;
    margin:.2% 0;
    margin-right: .5%;
    padding: .3%;
    padding-left:.7rem;
    padding-right:.7rem;
    border-radius: 10px;
    border: 2px solid var(--forth-color);
    background-color: var(--forth-color);
    align-items: center;
    /* z-index: 9; */
    color: var(--primary-color);
    text-decoration: none;
    /* text-shadow: -1px 0  black, 0 1px  black, 1px 0 black, 0 -1px black; */
}
header div.cart a{
    color: var(--primary-color);
    text-decoration: none;
}

header div.cart .fas{
    color:var(--primary-color);
    width: 2rem;
    height: 2rem;
    /* flex-grow: 1;
    /* background-color: var(--primary-color); */
}

header div.cart:hover,
header div.cart a:hover{
    background-color:var(--primary-color);
    color:var(--forth-color);
    /* transform: scale(1.2); */
    /* box-shadow: 4px 4px 10px var(--forth-color),-4px -4px 10px var(--forth-color); */
}
/*///////////////////////////////////////////////header end////////////////////////////*/

/*/////////////////////           carousel for adds start      /////////////////////////////*/
.container-img{
    position: relative;
    /* margin: 50px auto; */
    width: 100%;
    height: 13rem;
    /* background-color: #4c4c4c; */
    /* border: 2px solid black; */
}
.container-img .slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container-img .slide_img .ads-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: var(--forth-color);
    background-color: #ff006e;
    background-color: rgba(255, 0, 110, .5);
    background-color: rgba(251, 86, 7, .7);
}
.container-img .slide_img img{
    /* position: absolute; */
    width: inherit;
    height: inherit;
}

.container-img #i1,#i2,#i3{
    display: none;
}
.container-img .slide_img .prev,
.container-img .slide_img .next{
    position: absolute;
    width: 8%;
    height: 100%;
    top:0;
    /* background-color: rgba(88, 88, 88,.2); */
    color:rgba(244, 244, 244,.9);
    cursor: pointer;
    text-align: center;
    z-index: 1;
    transition: all .3s ease;
    /* animation:scroll 2s ease-in-out delay iteration-count direction fill-mode; */
}
.prev{left:0}
.next{right: 0;}
.prev:hover,
.next:hover{
    transition: .3s;
    background-color: rgba(88, 88, 89,.1);
    color: #ffffff; 
}


.container-img .slide_img .prev span,
.container-img .slide_img .next span{
    position: absolute;
    /* left:3%; */
    top:50%;
    font-size: 100pt;
    transform: translateY(-50%);
}
.container-img .slide_img .prev span{left:2%}
.container-img .slide_img .next span{
    right: 2%;
}
.container-img #nav_slide{
    position: absolute;
    bottom: 12%;
    height: 9%;
    width: 100%;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.container-img #nav_slide .dots{
    display: inline-block;
    background-color: black;
    height: 100%;
    width: 2%;
    border-radius: 50%;
    /* top:-5%; */
    margin: 0 2px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
.container-img .nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}
/*  to make all images disappear */
.container-img .slide_img{ 
    z-index: -1;
    opacity: 0;
}
/* checked appear  */
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 0;
    opacity: 1;
    transition: all .4s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3
{
    background-color: rgba(255,255,255,.6);
}
/*/////////////////////           carousel for adds end      /////////////////////////////*/

/* ///////////////////////     carousel for slides start /////////////////////////////// */
.container-cards-slides{
    margin:auto;
    position: relative;
    margin: 5px auto;
    width: 100%;
    /* height: 250px; */
}
.container-cards-slides .container-cards{
    margin: 1.5% auto;
    width: 86%;
    height: 100%;
    display:flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    overflow-y: hidden;
    /* justify-items: start; */
    scroll-behavior: smooth;
}
/* width */
.container-cards-slides .container-cards::-webkit-scrollbar {
    /* width: 900px; */
    /* height: 10%; */
    /* width: 50%; */
    height: 6px;
  }
  
  /* Track */
  .container-cards-slides .container-cards::-webkit-scrollbar-track {
    background:var(--primary-color); 
  }
   
  /* Handle */
  .container-cards-slides .container-cards::-webkit-scrollbar-thumb {
    background:var(--forth-color); 
  }
  
  /* Handle on hover */
  .container-cards-slides .container-cards::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
  }
.container-cards-slides .container-cards .cards{
    position: relative;
    /* flex-basis: 60em; */
    /* display: flex; */
    /* width: 40vw; */
    /* flex-grow: 2; */
    height: 97%;
    margin: 4px 6px;
    /* border: 1px solid var(--primary-color); */
    /* background-color: var(--secondary-color); */
    border-radius: 10px;
    font-size: 1rem;
}
.container-cards-slides .container-cards .cards img{
    width: 11.5rem;
    height: 9rem;
    padding: 0 5px;
    margin-top: 5px;
    border-radius:10px ;
}
.container-cards-slides .container-cards .cards .product-spec{
    height: 34%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* justify-items: center; */
    grid-row-gap: 3px; 
}
.container-cards-slides .cards .product-spec span{
    /* cursor: pointer; */
    text-align: center;
    /* font-size: 18px; */
    /* padding: 2px 5px;  */
    border-radius: 10px;
    text-overflow: ellipsis;
    /* border:2px solid var(--primary-color); */
    color: var(--tertiary-color);
    /* background-color: var(--primary-color); */
}
.container-cards-slides .container-cards .cards .product_view{
    cursor: pointer;
    position: absolute;
    opacity: .88;
    background-color:var(--secondary-color);
    top:0;
    width: 100%;
    height: 0%;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* transition do not work with display none */
    transition: all .4s ease-in-out;
    /* display: none; */
    opacity: 0;
    display: flex;
    box-shadow: 4px 4px 20px var(--primary-color);
    /* transition: 3s ease-in-out; */
}
.container-cards-slides .cards:hover > .product_view{
    /* display: block; */
    /* background-color:rgba(255, 255, 255, .8); */
    opacity: 1;
    height: 100%;
}
.container-cards-slides .container-cards .product_view span{
    /* position: relative; */
    /* top:50%; */
    /* left: 20%; */
    /* text-decoration: none; */
    /* position: absolute; */
    border-radius: 10px;
    background-color:var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: .4rem;
    /* font-size: 19px; */
    color: var(--forth-color);
}

.container-cards-slides .prev,
.container-cards-slides .next{
    position: absolute;
    width: 6%;
    height: 100%;
    top:0;
    /* background-color: rgba(88, 88, 88,.2); */
    /* color:rgba(244, 244, 244,.9); */
    /* color:rgba(88, 88, 88,.9); */
    color:rgba(58, 134, 255, 1);
    cursor: pointer;
    text-align: center;
    z-index: 1;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
}
.container-cards-slides .prev{left:0}
.container-cards-slides .next{right: 0;}
.container-cards-slides .prev:hover,
.container-cards-slides .next:hover{
    transition: .3s;
    /* border-radius: 100%; */
    /* border-top-left-radius: 100%; */
    /* border-bottom-left-radius: 100%; */
    background-color: rgba(255, 238, 11, .3);
    /* color: black;  */
    /* color: rgba(255, 238, 11, 1);  */
}


/* .container-cards-slides .prev span, */
/* .container-cards-slides .next span{ */
    /* position: relative; */
    /* left:1%; */
    /* font-size: 8rem; */
    /* font-size: 100pt; */
    /* transform: translateY(-50%); */
/* }
.container .slide_img .prev span{left:2%}
.container .slide_img .next span{
    right: 2%;
} */
/* ///////////////////////     carousel for slides end /////////////////////////////// */

/*///////////////////             boxes start          /////////////////////////////////////*/
.boxes-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: lightcoral; */
    width: 100%;
}
.boxes-container .box-container {
    margin: 1.5% 0;
    width: 40rem;
    width: 46%;
    font-size: 1.2rem;
    height: 35rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px var(--primary-color);
}
.boxes-container .box-container a {
    text-decoration: none;
    cursor: pointer;
    width: 31%;
    height: 31%;
}
.box-container a:hover{
    transition: all .2s ease-in-out;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 10px var(--primary-color);
    /* color:var(--font-color); */
    transform: scale(1.2);
}
.boxes-container .box-container a .boxes {
    padding: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.boxes-container .box-container a .boxes .cat-img {
    padding: 2%;
    margin: auto;
    /* background-color: lawngreen; */
    width: 100%;
    height:83%;
    justify-items: center;
    justify-content: center;
}

.boxes-container .box-container a .boxes .cat-img img {
    /* width: 10rem; */
    width: 100%;
    /* height: 8rem; */
    height: 100%;
    border-radius: 10px;
}

.boxes-container .box-container a .boxes .cat-prod span {
    color: var(--font-color);
}

/*///////////////////             boxes end          /////////////////////////////////////*/

/*///////////////////             footer start          /////////////////////////////////////*/
footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--forth-color);
    font-size: 1.2rem;
}
footer .foot-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .foot-links a{
    color: var(--forth-color);
    text-decoration: none;
    padding: .5rem;
    margin: .7rem;
    border-radius: 10px;
    /* background-color: var(--fifth-color); */
}
footer .foot-links a:hover{
    background-color: var(--forth-color);
    color: var(--primary-color);
}
/*///////////////////             footer end          /////////////////////////////////////*/

/*////////////////////////       media queries              /////////////////////////*/

@media only screen and (max-width: 1000px){
    /* header .menu-wrap .menu ul,
    header .menu-wrap .menu .main-back
    {
        margin-top: 6.4rem;
    } */
    header h1{
        font-size: 2rem;
    }
    .container-cards-slides .container-cards .cards img{
        /* width: 5rem; */
        width: 6rem;
        /* height: 4.5rem; */
        height: 5.5rem;
    }
    .container-cards-slides .container-cards .cards{
        font-size: .7rem;
    }
    .container-cards-slides .prev,
    .container-cards-slides .next{
        font-size: 4rem;
    }
    .boxes-container .box-container {
        width:47%;
        height: 25rem;
        font-size: .8rem;
    }
}
@media only screen and (max-width: 500px){
    /* header .menu-wrap .menu ul,
    header .menu-wrap .menu .main-back
    {
        margin-top: 5rem;
    } */
    header .menu-wrap .menu ul li:nth-child(1){
        margin-top: 3rem;
    }
    header div.cart .fas{
        width: .5rem;
        height: .5rem;
    }
    header .menu-wrap .toggler,
    header .menu-wrap .hamburger{
        width: 2.9rem;
        height: 2.3rem;
    }
    header{
        font-size: 1.2rem;
    }
    header h1{
        font-size: 1.4rem;
    }
    .container-cards-slides .container-cards .cards img{
        width: 4rem;
        /* width: 7rem; */
        height: 3rem;
        /* height: 5.5rem; */
    }
    .container-cards-slides .container-cards .cards{
        font-size: .5rem;
    }
    .container-cards-slides .prev,
    .container-cards-slides .next{
        font-size: 4rem;
    }
    .boxes-container .box-container {
        width: 90%;
        height: 23rem;

    }
}



